<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/typing.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        // Enable Tailwind's dark mode
        tailwind.config = {
            darkMode: 'class',
        };
        
        function toggleTheme() {
            const htmlElement = document.documentElement;
            const isDark = htmlElement.classList.toggle('dark');
            localStorage.setItem('theme', isDark ? 'dark' : 'light');
        
            // Update button text
            document.getElementById('but').innerHTML = isDark ? 'Light' : 'Dark';
        }
        
        // Apply the stored theme on page load
        document.addEventListener('DOMContentLoaded', () => {
            const theme = localStorage.getItem('theme');
            if (theme === 'dark') {
                document.documentElement.classList.add('dark');
                document.getElementById('but').innerHTML = 'Light';
            }
        });

        // Function to filter projects by category
        function filterProjects(category) {
            const cards = document.querySelectorAll('.project-card');
            cards.forEach(card => {
                if (category === 'all' || card.dataset.category === category) {
                    card.classList.remove('hidden');
                } else {
                    card.classList.add('hidden');
                }
            });
        }
        function filterResources(category) {
            const items = document.querySelectorAll('.resource-item');
            items.forEach(item => {
                if (category === 'all' || item.dataset.category === category) {
                    item.classList.remove('hidden');
                } else {
                    item.classList.add('hidden');
                }
            });
        }
    </script>
    <title>Tuhin Bidyanta</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class ="flex justify-end pr-8 pt-4">
    <button onclick="toggleTheme()" id = 'but' class="px-4 py-2 bg-purple-900 text-white rounded-lg shadow-md hover:bg-purple-700">
        Dark
    </button>
    </div>
    {% block home %}
    {% endblock %}
    {% block about %}
    {% endblock %}
    {% block project %}
    {% endblock %}
    {% block resource %}
    {% endblock %}
    {% block certificate %}
    {% endblock %}
    {% include 'footer.html' %}
    <!-- Ionicons Script -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="../static/js/typing.js"></script>
</body>

</html>