<footer  class="bg-white sticky buttom-0 dark:bg-gray-900 text-purple-900 dark:text-purple-300 py-6 mt-10 shadow-2xl rounded-t-2xl">
    <div class="container mx-auto flex flex-col items-center">
        <p class="text-lg font-semibold">Connect with me</p>
        <div class="flex space-x-6 mt-3">
            <a href="https://github.com/tuhinbidyanta" target="_blank">
                <ion-icon name="logo-github" class="text-2xl hover:text-purple-500"></ion-icon>
            </a>
            <a href="https://www.linkedin.com/in/tuhin-bidyanta-8a3a01266/" target="_blank">
                <ion-icon name="logo-linkedin" class="text-2xl hover:text-purple-500"></ion-icon>
            </a>
            <!--<a href="https://twitter.com/yourprofile" target="_blank">
                <ion-icon name="logo-twitter" class="text-2xl hover:text-purple-500"></ion-icon>
            </a>-->
            <a href="https://www.instagram.com/tuhinbidyanta/?hl=en" target="_blank">
                <ion-icon name="logo-instagram" class="text-2xl hover:text-purple-500"></ion-icon>
            </a>
        </div>
        <p class="text-sm mt-3">© 2025 Tuhin Bidyanta. All rights reserved.</p>
        
        <!-- Theme Toggle Button -->
        
    </div>
</footer>
