{% extends 'base.html' %}
{% block project %}
<div class="max-w-6xl mx-auto p-6 bg-gray-100 dark:bg-gray-900  rounded-lg mt-10">
    <div class="flex justify-between items-center">
        <h1 class="text-3xl font-bold text-purple-900 dark:text-purple-300">Projects</h1>
        <!--<button onclick="toggleTheme()" class="px-4 py-2 bg-purple-900 text-white rounded-lg shadow-md hover:bg-purple-700">
            Toggle Theme
        </button>-->
    </div>


    <!-- Filter Buttons -->
    <div class="grid grid-cols-2 sm:flex sm:justify-center sm:space-x-4 gap-2 sm:gap-4 mt-6">
        <button onclick="filterProjects('all')" class="px-4 py-2 bg-gray-200  dark:bg-purple-900 rounded-lg shadow-md hover:bg-gray-400 dark:hover:bg-gray-500">
            All
        </button>
        <button onclick="filterProjects('web-development')" class="px-4 py-2 bg-gray-400  dark:bg-purple-400 text-white rounded-lg shadow-md hover:bg-blue-600">
            Web Development
        </button>
        <button onclick="filterProjects('data-science')" class="px-4 py-2 bg-gray-600  dark:bg-purple-600 text-white rounded-lg shadow-md hover:bg-purple-600">
            Data science
        </button>
        <button onclick="filterProjects('geophysics')" class="px-4 py-2 bg-gray-800  dark:bg-purple-800 text-white rounded-lg shadow-md hover:bg-red-600">
            Geophysics
        </button>
    </div>

    <!-- Project Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
        <!-- Project 1 -->
        {% for project in proj %}
        <div class="project-card bg-white dark:bg-gray-700 shadow-lg rounded-lg p-4" data-category="{{project.catagory}}">
            <img src="{{project.image_link}}" alt="{{project.id}}" class="rounded-lg">
            <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200 mt-2"><a href ="{{project.project_link}}">{{project.title}}</a></h2>
            <p class="text-gray-600 dark:text-gray-300 mt-1">{{project.description}}</p>
            <span class="mt-2 px-3 py-1 bg-blue-500 text-white rounded-full text-sm">{{project.catagory_show}}</span>
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}
